@model PruebaTec02LLVG.Models.Departamento

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Departamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Dnombre" class="control-label"></label>
                <input asp-for="Dnombre" class="form-control" />
                <span asp-validation-for="Dnombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loc" class="control-label"></label>
                <input asp-for="Loc" class="form-control" />
                <span asp-validation-for="Loc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-outline-info" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-dark">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
