@model PruebaTec02LLVG.Models.Departamento

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Estás seguro de eliminar?</h3>
<div>
    <h4>Departamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dnombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dnombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Loc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Loc)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DeptNo" />
        <input type="submit" value="Borrar" class="btn btn-outline-danger" /> |
        <a asp-action="Index" class="btn btn-outline-dark">Regresar</a>
    </form>
</div>
